* { margin: 0; padding: 0; box-sizing: border-box; }
body { font-family: Arial, sans-serif; line-height: 1.6; color: #333; }

header {
    background: #111;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
nav ul { list-style: none; display: flex; }
nav ul li { margin-left: 20px; }
nav ul li a { color: #fff; text-decoration: none; }

nav ul li:hover {
    transform: scale(1.10);
}
nav ul li:hover a{
    color: #ccc;
    transition: color 0.3s ease;
}
.hero {
    background: #ccc;
    padding: 80px 20px;
    text-align: center;
}
.hero h2 { font-size: 32px; margin-bottom: 20px; }

.hero button{
    padding: 10px 20px;
    font-size: 18px;
    background: #111;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 20px;
}

.hero button:hover{
    transition: background-color 0.3s ease;
    background-color: #ccc;
    color: #111;
}

.opinia .container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.opinia .col-50 {
    display: flex;
    width: 50%;
    justify-content: center;
}

.opinia .col-50  p {
    margin: 50px;
    text-align: center;
}

.opinia .col-50 div p {
    font-weight: bold;
    margin: 0;
    text-align: center;
}

.col-50 img {
    max-width: 300px;
}


.about, .services, .blog, .portfolio, .contact, .opinia{
    padding: 40px 20px 0 20px;
    text-align: center;
}

.serviceH2 {
    text-align: center;
}

.services {
    display: flex;
    flex: 1;
    justify-content: space-around;
}

.services .service, .blog article, .portfolio .project, .container{
    border: 1px solid #eee;
    padding: 20px;
    margin: 10px 0;
    border-radius: 6px;
    text-align: center;
}
.serviceFlex {
    display: flex;
    flex: 1;
}
.service-img{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.article-inside{
    margin: 0 auto;
    max-width: 1200px;
}

.portfolio img{
    min-width: 800px;
}

.portfolio p{
    font-size: 30px;
}

img { width: 400px; border-radius: 6px; margin-top: 15px;}

form input, form textarea, form button {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
}

.row::before, .row::after {
    content: "";
    display: table;
    clear: both;
}

[class*='col']{
    float: left;
    min-height: 1px;
}

.col-1 { 
    width: 33.33%; 
    padding: 0 120px;
}

.col-2 { 
    width: 50%; 
}
.col-5{
    width: 20%;
}
.leftCol{
    text-align: left;
}
.rightCol{
    text-align: right;
}

iframe{
    margin-top: 2px;
    width: 100%;
    min-height: 200px;
    border: 0;
}

footer {
    background: #111;
    color: #fff;
    padding-top: 20px;
    text-align: center;
}
footer .col-1 {
    min-height: 250px;
}
footer .col-1 p {
    text-align: center;
}

.footer-p{
    background-color: #333;
}

footer .row > .col-1 > .row .col-5{
    margin-top: 10px;
}
footer i{
    border-radius: 30px;
    width: 100%;
    font-size: 30px;
    cursor: pointer;
}

footer i:hover{
    background-color: #fff;
    color: #111;
    transition: all 0.3s ease;
}